<p id="notice"><%= notice %></p>
<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr><td><%= link_to image_tag(@thread.image.url(:thumb)), @thread.image.url %></td><td><%= @thread.id %></td><td><%= @thread.title %> </td><td><%= @thread.comment %></td></tr>
    <% @posts.each do |post| %>
      <tr>
        <% if !(post.image_file_name.nil?) %> 
           <td><%= link_to image_tag(post.image.url(:thumb)), post.image.url %></td>
        <% else %>
           <td></td>
        <% end %>
        <td><%= link_to post.id, controller: 'posts', action: 'show', id: post.id %></td>       
        <td><%= post.comment %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_thread_post_path %>
<%= link_to 'Index', threads_path %>
