<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr><td> <%= @thread.title %> </td></tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.comment %></td>
        <td><%= link_to 'Show', controller: 'posts', action: 'show', id: post.id %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_thread_post_path %>
<%= link_to 'Index', threads_path %>
