<p id="notice"><%= notice %></p>

<table>
<tr>
  <% if !(@post.image_file_name.nil?) %> 
      <td><%= link_to image_tag(@post.image.url(:thumb)), @post.image.url %></td>
  <% else %>
      <td></td>
  <% end %>
  <td><%= @post.id %></td>       
  <td><%= @post.comment %></td>        
</tr>
</table>
<%= link_to 'Back', thread_posts_path %>
